body, html {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgb(0, 0, 0, 0)), url("../images/beans.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;    /* onScroll with background */
}
.nav {
    position: relative;
    z-index: 9999;
}
.menu-btn {
    display: none;
}.site-logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.site-logo img{
    margin: 1rem;
    height: 4rem;
    width: auto;
}
.nav-links {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.etu {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 14px 12px 14px 12px;
    margin-top: 1.2rem;
    color: white;
    text-decoration: none;
}
.etu:hover {
    background-color: rgb(91, 53, 28);
    color: white;
}
.nav a {
    color: white;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover {
    background-color: rgb(91, 53, 28);
    color: white;
}
.forFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
nav a {
    color: var(--black);
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 1rem;
}
.menu-btn {
    display: none;
}
h1 {
    margin: 4rem 6rem 2rem 6rem;
    font-size: 3rem;
    font-weight: bold;
}
.img {
    border: 1px solid black;
}
.grid-wrapper > div > figure > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.grid-wrapper {
    margin: 3rem 6rem 3rem 6rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
}
.container {
    padding-left: 1rem;
}
.container h3{
    padding-top: 1rem;
    font-weight: bold;
}
.container p {
    font-style: italic;
    font-size: 0.8rem;
    margin: .5rem 0rem 1rem 0rem;
}
.container a {
    text-decoration: none;
    color: rgb(141, 82, 43);
}
.seurava {
    background-color: rgb(91, 53, 28);
    color: white;
    display: block;
    margin: auto;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 4rem;
    font-size: 1rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(91, 53, 28);
    padding: 1.5rem;
    color: white;
}