.img img {
    width: 50%;
    height: 30%;
}

.container {
    margin: 4rem 0 3rem 5rem;
    
}
.container h1{
    padding-top: 3rem;
    font-weight: bold;
    font-size: 3rem;
}
.container p {
    font-size: 0.8rem;
    margin: .5rem 0rem 1rem 0rem;
}
.takaisin {
    background-color: rgb(91, 53, 28);
    margin: auto;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 4rem;
    margin-top: 3rem;
    font-size: 1rem;
    
}
.takaisin a {
    text-decoration: none;
    color: white;
}