<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head th:fragment="head">
    <title>Israt Cafe</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css" th:href="@{css/admin.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/table.css" th:href="@{css/table.css}" />
</head>
<body>
    <header class="header" th:fragment="header">
        <div class="forFlex">
            <div class="site-logo">
                <img th:src="@{/images/cafeLogo.png}" alt="logo">
                <a href="index.html" th:href="@{/}" class="etu">Etusivu</a>
            </div>
            <nav class="nav">
                <button class="menu-btn">&#9776;</button>
                <ul class="nav-links">
                    <li><a th:href="@{/kahviLaitteet(id=1)}">KahviLaitteet</a></li>
                    <li><a th:href="@{/kahviLaitteet(id=2)}">KulutusTuotteet</a></li>
                    <li><a href="#" >Rekisteroidy VIP-asiakkaaksi</a></li>
                    <li><a href="admin.html" th:href="@{/admin}">Tietojen Hallinointi (admin)</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="logoutBtn"/>
        </form>
        <div class="button_h1_flex">
            <h1>Admin</h1>
            <div class="btns">
                <button class="btn tuotteet" style="background-color: #250505;"><a href="admin.html" th:href="@{/admin}">Tuotteet</a></button>
                <button class="btn valmistajat"><a href="valmistajat.html" th:href="@{/valmistajat}">Valmistajat</a></button>
                <button class="btn toimittajat"><a href="toimittajat.html" th:href="@{/toimittajat}">Toimittajat</a></button>
                <button class="btn osastot"><a href="osastot.html" th:href="@{/osastot}">Osastot</a></button>
                <button class="btn vip"><a href="#">VIP asiakkaat</a></button>
            </div>
        </div>
        <form th:action="@{/admin}" enctype="multipart/form-data" method="POST">
            <h3>Lisää tuote:</h3>
            <div class="form_flex">
                <label class="">Tuotteen nimi:</label>
                <input type="text" name="nimi" placeholder="" style="width: 20rem" required>
            </div>
            <div class="form_flex">
                <label>Tuotteen hinta:</label>
                <input type="text" pattern="\d+(\.\d{2})?" placeholder="xxx.xx" name="hinta" style="width: 20rem" required>
            </div>
            <div class="form_flex">
                <label>Kuva:</label>
                <input type="file" id="fileInput" name="kuva" accept="images/*" style="width: 20rem" required>
            </div>
            <div class="form_flex">
                <label>Tuotteen kuvaus:</label>
                <textarea type="text" placeholder="" name="kuvaus" style=" width: 20rem;" rows="8" required></textarea>
            </div>
            <div class="form_flex">
                <label>Osasto:</label>
                <select name="osastoID" style="width: 20rem" required>
                    <option value="valitse_osasto">Valitse osasto</option>
                    <option th:each="osasto : ${osastot}" th:value="${osasto.id}" th:text="${osasto.nimi}"></option>
                </select>
            </div>
            <div class="form_flex">
                <label>Toimittaja:</label>
                <select name="toimittajaID" style="width: 20rem" required>
                    <option value="valitse_toimittaja">Valitse toimittaja</option>
                    <option th:each="toimittaja : ${toimittajat}" th:value="${toimittaja.id}" th:text="${toimittaja.nimi}"></option>
                </select>
            </div>
            <div class="form_flex">
                <label>Valmistaja:</label>
                <select name="valmistajaID" style="width: 20rem" required>
                    <option value="valitse_valmistaja">Valitse valmistaja</option>
                    <option th:each="valmistaja : ${valmistajat}" th:value="${valmistaja.id}" th:text="${valmistaja.nimi}"></option>
                </select>
            </div>
            <input type="hidden" name="osastoIDP" value="1"> <!-- Assuming osastoIDP for "kahvilaitteet" is 1 -->
            <button type="submit" value="submit" class="btn lisaa">Lisää</button>
        </form>
        <table>
            <thead>
              <tr>
                <th>Tuotteen nimi</th>
                <th>Hinta</th>
                <th>Osasto</th>
                <th>Toimittaja</th>
                <th>Valmittaja</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="tuote:${tuotteet}">
                <td th:text="${tuote.nimi}">nimi</td>
                <td th:text="${tuote.hinta}">hinta</td>
                <td th:text="${tuote.osasto.nimi}">osasto</td>
                <td th:text="${tuote.toimittaja.nimi}">toimittaja</td>
                <td th:text="${tuote.valmistaja.nimi}">valmistaja</td>
                <td><button><a class="muokkaBtn" th:href="@{/muokkaaTuote/{id} (id=${tuote.id})}">Muokkaa</a></button></td>
                <td>
                    <form action="/poistaTuote" method="post">
                        <input type="hidden" name="tuoteId" th:value="${tuote.id}" />
                        <button type="submit" class="poistaBtn">Poistaa</button>
                    </form>
                </td>
              </tr>
            </tbody>
          </table>
    </main>
    <footer th:fragment="footer">
        <p>Copyright @ Israt Cafe 2024</p>
    </footer>
</body>
</html>