<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Israt Cafe</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{css/index.css}" />
</head>
<body>
    <header class="header">
        <div class="forFlex">
            <div class="site-logo">
                <img src="./images/cafeLogo.png" alt="logo">
                <a href="index.html" th:href="@{/}" class="etu">Etusivu</a>
            </div>
            <nav class="nav">
                <button class="menu-btn">&#9776;</button>
                <ul class="nav-links">
                    <li><a href="kahviLaitteet.html" th:href="@{/kahviLaitteet(id=1)}">Kahvilaitteet</a></li>
                    <li><a href="kulutusTuotteet.html" th:href="@{/kulutusTuotteet(id=2)}">Kulutustuotteet</a></li>
                    <li><a href="#" >Rekisteroidy VIP-asiakkaaksi</a></li>
                    <li><a href="admin.html" th:href="@{/admin}">Tietojen Hallinnointi (admin)</a></li>
                </ul>
            </nav>
        </div>
        <h1>Tervetuloa Isratin Cafeen</h1>
        <h2>Kahvilaitteita ja kahvitteluun littyviä kulutustuotteita</h2>
        <h3>Ota yhteyttä: <a href="mailto:israt.ict.cou@gmail.com">Israt Jahan</a></h3>
    </header>
    <main>
        <section class="picture">
            <img src="./images/cafeLogo.png" alt="img">
        </section>
        <section class="project_Section" id="projects">
            <div class="project_Div">
                <div class="card">
                    <a href="kahviLaitteet.html" th:href="@{/kahviLaitteet}"><img src="./images/coffeeMachine1.jpg" alt="coffeeMachine1"></a>
                    <div class="container">
                        <a href="kahviLaitteet.html" th:href="@{/kahviLaitteet}"><h3>Kahvilaitteet</h3></a>
                    </div>
                </div>
                <div class="card">
                    <a href="kulutusTuotteet.html" th:href="@{/kulutusTuotteet}"><img src="./images/coffee-beans.jpg" alt="beans"></a>
                    <div class="container">
                        <a href="kulutusTuotteet.html" th:href="@{/kulutusTuotteet}"><h3>Kulutustuotteet</h3></a>
                    </div>
                </div>
                <div class="card">
                    <a href="admin.html" th:href="@{/admin}"><img src="./images/filter-springy.jpg" alt="americano"></a>
                    <div class="container">
                        <a href="admin.html" th:href="@{/admin}"><h3>Tietojen hallinoninti</h3></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright @ Israt Cafe 2024</p>
    </footer>
</body>
</html>