<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Israt Cafe</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/kahviLaitteet.css" th:href="@{css/kahviLaitteet.css}" />
</head>
<body>
    <header th:replace="~{admin::header}" ></header>
    <main>
        <h1 th:text="${depName}">Osasto</h1>
        <div class="grid-wrapper">
            <div class="img" th:each="tuote : ${tuotteet}">
                <figure class="laitteetKuvia">
                    <img th:src="@{/kuva/{id}(id=${tuote.id})}" alt="kuva" />
                </figure>
                <div class="container">
                    <h3 th:text="${tuote.nimi}"></h3>
                    <p th:text="${tuote.hinta}"></p>
                    <a th:href="@{/tuote/{id}(id=${tuote.id}, osastoId=${osastoId})}">Tuotesivu</a>
                </div>
            </div>
        </div>
        <button class="seurava">Seurava</button>
    </main>
    <footer th:replace="~{admin::footer}"></footer>
</body>
</html>