<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Israt Cafe</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/kahviLaitteet.css" th:href="@{css/kahviLaitteet.css}" />
</head>
<body>
    <header th:replace="~{admin::header}" ></header>
    <main class="main">
        <form class="search" action="#" th:action="@{/search}" method="get">
            <input type="hidden" name="osastoId" th:value="${osastoId}" />
            <input type="text" name="query" placeholder="Etsiä tuotteita" required>
            <button type="submit">Hae</button>
        </form>
        <form class="filters" action="#" th:action="@{/kahviLaitteet}" method="get">
            <input type="hidden" name="id" th:value="${osastoId}" />
            
            <select name="filterHinta">
                <option value="">Suodattaa hinnan mukaan</option>
                <option value="asc" th:selected="${filterHinta == 'asc'}">Hinta (Alhaisesta korkeaan)</option>
                <option value="desc" th:selected="${filterHinta == 'desc'}">Hinta (korkeasta matalaan)</option>
            </select>
            
            <button type="submit">Suodattaa</button>
        </form>
        <div th:if="${currentPage > 0}">
            <a th:href="@{/kahviLaitteet(id=${osastoId}, page=${currentPage - 1}, filterHinta=${filterHinta})}">
                <button class="edellinen">Edellinen</button>
            </a>
        </div>
        <p class="countOfProducts" th:text="'Tuotteita yhteensä: ' + ${totalKahviLaitteet}"></p>
        <h1 th:text="${depName}">Osasto</h1>
        <div class="grid-wrapper">
            <div class="img" th:each="tuote : ${tuotteet}">
                <figure class="laitteetKuvia">
                    <img th:src="@{/kuva/{id}(id=${tuote.id})}" alt="kuva" />
                </figure>
                <div class="container">
                    <h3 th:text="${tuote.nimi}"></h3>
                    <p th:text="${tuote.hinta}"></p>
                    <a th:href="@{/tuote/{id}(id=${tuote.id}, osastoId=${osastoId})}">Tuotesivu</a>
                </div>
            </div>
        </div>
        <div th:if="${currentPage != null and currentPage &lt; totalPages - 1}">
            <a th:href="@{/kahviLaitteet(id=${osastoId}, page=${currentPage + 1}, filterHinta=${filterHinta})}">
                <button class="seurava">Seuraava</button>
            </a>
        </div>
    </main>
    <footer th:replace="~{admin::footer}"></footer>
</body>
</html>