<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Israt Cafe</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/kahviLaitteet.css" th:href="@{css/kahviLaitteet.css}" />
</head>
<body>
    <header class="header">
        <div class="forFlex">
            <div class="site-logo">
                <img src="./images/cafeLogo.png" alt="logo">
                <a class="etu" href="index.html" th:href="@{/}">Etusivu</a>
            </div>
            <nav class="nav">
                <button class="menu-btn">&#9776;</button>
                <ul class="nav-links">
                    <!-- <li><a href="kahviLaitteet.html" th:href="@{/}">KahviLaitteet</a></li>
                    <li><a href="kulutusTuotteet.html" th:href="@{/}">KulutusTuotteet</a></li>
                    <li><a href="admin.html" th:href="@{/}">Tietojen Hallinointi (admin)</a></li> -->
                    <li><a href="kahviLaitteet.html" th:href="@{/kahviLaitteet}">KahviLaitteet</a></li>
                    <li><a href="kulutusTuotteet.html" th:href="@{/kulutusTuotteet}">KulutusTuotteet</a></li>
                    <li><a href="#" >Rekisteroidy VIP-asiakkaaksi</a></li>
                    <li><a href="admin.html" th:href="@{/admin}">Tietojen Hallinointi (admin)</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Kahvilaitteet</h1>
        <div class="grid-wrapper">
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
        </div>
        <button class="seurava">Seurava</button>
    </main>
    <footer>
        <p>Copyright @ Israt Cafe 2024</p>
    </footer>
</body>
</html>