<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Israt Cafe</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/kahviLaitteet.css" th:href="@{css/kahviLaitteet.css}" />
</head>
<body>
    <header class="header" th:replace="~{admin::header}"></header>
    <main>
        <h1>Kulutustuotteet</h1>
        <div class="grid-wrapper">
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
            <div class="img">
                <img src="./images/coffeeMachine2.jpg" alt="">
                <div class="container">
                    <h3>Cappuccino</h3>
                    <p>5.00 €</p>
                    <a href="tuoteSivu.html" target="_blank">Tuotesivu</a>
                </div>
            </div>
        </div>
        <button class="seurava">Seurava</button>
    </main>
    <footer th:replace="~{index::footer}"></footer>
</body>
</html>