<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head th:replace="~{admin::head}"></head>
<body>
    <header th:replace="~{admin::header}" ></header>
    <main>
        <div class="img">
            <div class="container">
                <h1 th:text="${tuote.nimi}"></h1>
                <p th:text="${tuote.kuvaus}"></p>
                <p th:text="${tuote.hinta}"></p>
                <figure>
                    <img th:src="@{/kuva/{id}(id=${tuote.id})}" alt="kuva">
                </figure>
                <button class="takaisin">
                    <a th:href="@{/kahviLaitteet(id=${osastoId})}">Takaisin</a>
                </button>
            </div>
        </div>
    </main>
    <footer th:replace="~{admin::footer}"></footer>
</body>
</html>