<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Israt Cafe</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/table.css}" />
</head>
<body>
    <header class="header" th:replace="~{admin::header}"></header>
    <main>
        <div>
            <form th:action="@{/vipAsiakas}" method="POST">
                <h3 class="form_h3">Lisää uusi VIP-asiakas:</h3>
                <div class="form_flex">
                    <label for="firstname">Etunimi:</label>
                    <input type="text" name="etunimi" style="width: 20rem;" required />
                </div>
                <div class="form_flex">
                    <label for="lastname">Sukunimi:</label>
                    <input type="text" name="sukunimi" style="width: 20rem;" required />
                </div>
                <div class="form_flex"> 
                    <label for="email">Sähköpostiosoite:</label>
                    <input type="email" name="sahkopostiOsoite" style="width: 20rem;" required />
                </div>
                <button type="submit" value="submit" class="btn lisaa for_gap_below">Lisää</button>
            </form>
          </div>
    <footer th:replace="~{admin::footer}"></footer>
</body>
</html>